@import url(./css/reset.css);
.fon1 {
  z-index: 1;
  position: absolute;
  width: 2600px;
}
.fon2 {
  z-index: 2;
  position: absolute;
  width: 2600px;
}
.fon3 {
  z-index: 1;
  position: absolute;
  width: 2600px;
}
.containers {
  z-index: 2;
  position: relative;
  max-width: 1230%;
  padding: 0 80px;
  margin: 0 auto;
}
.contaners {
  max-width: 100%;
  padding: 0 40px;
}
.contanerss {
  z-index: 3;
  position: relative;
  max-width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}
.contanersss {
  z-index: 3;
  position: relative;
  max-width: 100%;
  padding: 0 80px;
  padding-top: 50px;
}

.smart-center-header {
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  top: 240px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
  margin-bottom: 100px;
  margin-right: 40px;
  color: #ffffff;
  padding-top: 20px;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.header-title p {
  color: #ffffff;
}
.header-title h1 {
  color: #ffffff;
  font-size: 45px;
  max-width: 500px;
  font-weight: 700;
}
.btn1 {
  max-width: 169px;
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 2px;
}
.btn2 {
  max-width: 169px;
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 2px;
}
.btn-header {
  margin-bottom: 30px;
}
.info-Smart {
  max-width: 271px;
  background-color: aqua;
  border-radius: 5px;
  background-color: #ffffff;
}
.corzina-card {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 10px;
}
.title-card {
  text-align: center;
  margin-bottom: 10px;
}
.info-Smart p {
  text-align: center;
  padding: 0 10px;
}
.content-smart {
  display: flex;
  padding-top: 400px;
  justify-content: space-around;
}
.card-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 41px;
  grid-row-gap: 20px;
  margin-left: 100px;
}
.cart-2 {
  margin-top: 50px;
  margin-left: 20px;
  max-width: 271px;
  background-color: #ffffff;
}
.cart-3 {
  margin-top: 50px;
  max-width: 271px;
  margin-left: -30px;
  background-color: #ffffff;
}

.info-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 400px;
  height: 600px;
}
.info-text {
  display: flex;
  justify-content: end;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.info-content p {
  margin-bottom: 20px;
  color: #6a6b89;
}
.info-content {
  max-width: 400px;
}
.text-cart {
  max-width: 543px;
  box-shadow: 0 6px 9px rgba(35, 39, 47, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin-top: 10px;
}
.text-active {
  max-width: 543px;
  box-shadow: 0 6px 9px rgba(35, 39, 47, 0.1);
  background-color: #33d2fd;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.btn-info-title {
  max-width: 201px;
  padding: 15px;
  border-radius: 5px;
  background-color: #33d2fd;
}
.icon-container {
  position: relative;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.content-iformoton {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.texttext {
  font-size: 14px;
  color: #6a6b89;
  margin-bottom: 5%;
}
.Available {
  font-size: 30px;
  font-weight: 700;
}
.text-2 {
  color: #ffffff;
}
.Texth1 {
  font-size: 30px;
  font-weight: 700;
}

.informotion-title {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}

.info-Smarfon-container {
  display: flex;
  justify-content: space-around;
}

.title-smatfon {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-smatfon p {
  max-width: 300px;
}

.Appstore {
  display: flex;
  column-gap: 30px;
}
.gap-title {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  margin-top: 300px;
}
.btn4 {
  text-align: center;
  padding: 20px 50px;
  z-index: 6;
  position: absolute;
  box-shadow: 0 11px 29px rgba(255, 7, 95, 0.2);
  background-image: linear-gradient(to bottom, #ff7c6e 1%, #f5317f 99%);
}
.title-footer {
  display: flex;
  margin-top: -120px;
  margin-bottom: 300px;
  justify-content: center;
}
.footer-contac {
  display: flex;
  justify-content: space-around;
}
.footer-info-contac {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-con {
  display: flex;
  background-color: #33d2fd;
  padding: 20px;
  justify-content: space-between;
}
.mesej {
  display: flex;
  column-gap: 40px;
  padding-right: 20px;
}

@media (max-width: 700px) {
  .header-title {
    font-size: 11px;
    margin-top: -60px;
  }
  .Available {
    font-size: 16px;
    font-weight: 500;
  }
  .smart-center-header {
    max-width: 100px;
    top: -20px;
    /* margin-top: -205px;
    z-index: 10;
    position: relative; */
  }
  .fon1 {
    left: 50%;
    transform: translateX(-50%);
  }
  .fon2 {
    top: 230px;
    position: absolute;
    z-index: 2;
  }
  .fon3 {
    left: 50%;
    transform: translateX(-50%);
  }
  .content-smart {
    margin-top: -400px;
    display: flex;
    flex-direction: column;
  }
  .contanerss {
    z-index: 3;
    position: relative;
    top: -20px;
  }
  .smart-cart {
    margin-bottom: 20px;
    max-width: 100px;
    margin-top: -30%;
  }
  .card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info-Smart {
    max-width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .info-Smart:last-of-type {
    margin-right: 0;
  }
  .cart-2 {
    order: 3;
  }
  .cart-3 {
    order: 2;
  }
  .card-info {
    width: 50%;
    margin: 0 auto;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
    margin-top: -0px;
  }
  .info-content,
  div {
    max-width: unset;
    margin: 0;
    text-align: center;
  }
  .text-cart,
  .text-active {
    box-shadow: none;
    display: flex;
    column-gap: 20px;
  }
  .icons {
    display: flex;
    justify-content: flex-start;
  }

  .content-iformoton {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .img-code {
    width: 100%;
    margin-bottom: 20px;
  }

  .informotion-title {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .info-Smarfon-container {
    align-items: center;
    column-gap: 30px;
    margin-top: -30px;
  }

  .title-smatfon {
    /* margin-top: 30px; */
    font-size: 10px;
  }

  .Appstore {
    margin-top: -10px;
    display: flex;
    max-width: 50px;
  }
  .telfon {
    max-width: 80px;
    display: flex;
  }
  .header-title h1 {
    font-size: 10px;
    max-width: 100%;
  }

  .btn1,
  .btn2 {
    max-width: 100%;
    padding: 1px 5px;
  }
  .Appstore img {
    margin-right: 10px;
  }
  .gap-title {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
  }

  .footer-contac {
    flex-direction: column;
    gap: 20px;
  }

  .footer-info-contac {
    gap: 20px;
  }

  .footer-con {
    flex-direction: column;
    align-items: center;
  }

  .mesej {
    margin-top: 20px;
  }
  .btn4 {
    text-align: center;
    padding: 10px 20px;
    z-index: 6;
    position: absolute;
    box-shadow: 0 11px 29px rgba(255, 7, 95, 0.2);
    background-image: linear-gradient(to bottom, #ff7c6e 1%, #f5317f 99%);
  }
  .title-footer {
    display: flex;
    margin-top: 1px;
    margin-bottom: 100px;
    justify-content: center;
  }
}
